/* font */
@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicLight.eot');
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicLight.eot?#iefix') format('embedded-opentype'),
       url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicLight.woff') format('woff');
 }
 @font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 400;
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2Gothic.eot');
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2Gothic.eot?#iefix') format('embedded-opentype'),
       url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2Gothic.woff') format('woff');
 }
 @font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 500;
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicMedium.eot');
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicMedium.eot?#iefix') format('embedded-opentype'),
       url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicMedium.woff') format('woff');
 }
 @font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 700;
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicBold.eot');
  src: url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicBold.eot?#iefix') format('embedded-opentype'),
       url('https://www.huvitz.com/theme/huvitz/fonts/NEXONLv2GothicBold.woff') format('woff');
 }