/** grid **/
.grid_wrap {max-width:1440px;padding:0 20px;margin:0 auto;}
.grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}
.grid .grid_item.pc_col_12 {
    grid-column: span 12;
}
.grid .grid_item.pc_col_11 {
    grid-column: span 11;
}
.grid .grid_item.pc_col_10 {
    grid-column: span 10;
}
.grid .grid_item.pc_col_9 {
    grid-column: span 9;
}
.grid .grid_item.pc_col_8 {
    grid-column: span 8;
}
.grid .grid_item.pc_col_7 {
    grid-column: span 7;
}
.grid .grid_item.pc_col_6 {
    grid-column: span 6;
}
.grid .grid_item.pc_col_5 {
    grid-column: span 5;
}
.grid .grid_item.pc_col_4 {
    grid-column: span 4;
}
.grid .grid_item.pc_col_3 {
    grid-column: span 3;
}
.grid .grid_item.pc_col_2 {
    grid-column: span 2;
}
.grid .grid_item.pc_col_1 {
    grid-column: span 1;
}

.grid .grid_item.pc_col_11.pc_start_1 {
    grid-column: 1 / span 11;
}
.grid .grid_item.pc_col_11.pc_start_2 {
    grid-column: 2 / span 11;
}
.grid .grid_item.pc_col_10.pc_start_1 {
    grid-column: 1 / span 10;
}
.grid .grid_item.pc_col_10.pc_start_2 {
    grid-column: 2 / span 10;
}
.grid .grid_item.pc_col_10.pc_start_3 {
    grid-column: 3 / span 10;
}
.grid .grid_item.pc_col_9.pc_start_1 {
    grid-column: 1 / span 9;
}
.grid .grid_item.pc_col_9.pc_start_2 {
    grid-column: 2 / span 9;
}
.grid .grid_item.pc_col_9.pc_start_3 {
    grid-column: 3 / span 9;
}
.grid .grid_item.pc_col_9.pc_start_4 {
    grid-column: 4 / span 9;
}
.grid .grid_item.pc_col_8.pc_start_1 {
    grid-column: 1 / span 8;
}
.grid .grid_item.pc_col_8.pc_start_2 {
    grid-column: 2 / span 8;
}
.grid .grid_item.pc_col_8.pc_start_3 {
    grid-column: 3 / span 8;
}
.grid .grid_item.pc_col_8.pc_start_4 {
    grid-column: 4 / span 8;
}
.grid .grid_item.pc_col_8.pc_start_5 {
    grid-column: 5 / span 8;
}
.grid .grid_item.pc_col_7.pc_start_1 {
    grid-column: 1 / span 7;
}
.grid .grid_item.pc_col_7.pc_start_2 {
    grid-column: 2 / span 7;
}
.grid .grid_item.pc_col_7.pc_start_3 {
    grid-column: 3 / span 7;
}
.grid .grid_item.pc_col_7.pc_start_4 {
    grid-column: 4 / span 7;
}
.grid .grid_item.pc_col_7.pc_start_5 {
    grid-column: 5 / span 7;
}
.grid .grid_item.pc_col_7.pc_start_6 {
    grid-column: 6 / span 7;
}
.grid .grid_item.pc_col_6.pc_start_1 {
    grid-column: 1 / span 6;
}
.grid .grid_item.pc_col_6.pc_start_2 {
    grid-column: 2 / span 6;
}
.grid .grid_item.pc_col_6.pc_start_3 {
    grid-column: 3 / span 6;
}
.grid .grid_item.pc_col_6.pc_start_4 {
    grid-column: 4 / span 6;
}
.grid .grid_item.pc_col_6.pc_start_5 {
    grid-column: 5 / span 6;
}
.grid .grid_item.pc_col_6.pc_start_6 {
    grid-column: 6 / span 6;
}
.grid .grid_item.pc_col_6.pc_start_7 {
    grid-column: 7 / span 6;
}
.grid .grid_item.pc_col_5.pc_start_1 {
    grid-column: 1 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_2 {
    grid-column: 2 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_3 {
    grid-column: 3 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_4 {
    grid-column: 4 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_5 {
    grid-column: 5 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_6 {
    grid-column: 6 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_7 {
    grid-column: 7 / span 5;
}
.grid .grid_item.pc_col_5.pc_start_8 {
    grid-column: 8 / span 5;
}
.grid .grid_item.pc_col_4.pc_start_1 {
    grid-column: 1 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_2 {
    grid-column: 2 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_3 {
    grid-column: 3 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_4 {
    grid-column: 4 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_5 {
    grid-column: 5 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_6 {
    grid-column: 6 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_7 {
    grid-column: 7 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_8 {
    grid-column: 8 / span 4;
}
.grid .grid_item.pc_col_4.pc_start_9 {
    grid-column: 9 / span 4;
}
.grid .grid_item.pc_col_3.pc_start_1 {
    grid-column: 1 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_2 {
    grid-column: 2 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_3 {
    grid-column: 3 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_4 {
    grid-column: 4 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_5 {
    grid-column: 5 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_6 {
    grid-column: 6 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_7 {
    grid-column: 7 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_8 {
    grid-column: 8 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_9 {
    grid-column: 9 / span 3;
}
.grid .grid_item.pc_col_3.pc_start_10 {
    grid-column: 10 / span 3;
}
.grid .grid_item.pc_col_2.pc_start_1 {
    grid-column: 1 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_2 {
    grid-column: 2 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_3 {
    grid-column: 3 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_4 {
    grid-column: 4 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_5 {
    grid-column: 5 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_6 {
    grid-column: 6 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_7 {
    grid-column: 7 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_8 {
    grid-column: 8 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_9 {
    grid-column: 9 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_10 {
    grid-column: 10 / span 2;
}
.grid .grid_item.pc_col_2.pc_start_11 {
    grid-column: 11 / span 2;
}
.grid .grid_item.pc_col_1.pc_start_1 {
    grid-column: 1 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_2 {
    grid-column: 2 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_3 {
    grid-column: 3 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_4 {
    grid-column: 4 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_5 {
    grid-column: 5 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_6 {
    grid-column: 6 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_7 {
    grid-column: 7 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_8 {
    grid-column: 8 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_9 {
    grid-column: 9 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_10 {
    grid-column: 10 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_11 {
    grid-column: 11 / span 1;
}
.grid .grid_item.pc_col_1.pc_start_12 {
    grid-column: 12 / span 1;
}


/* serif */
.serif {
  font-family: bigmoore, serif !important; 
  font-weight: 400; 
  font-style: normal
}
.logo {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 1024px;
  z-index: 99;
  svg {
    width:100%;
  }
}
.btn_box {
  margin-top: 32px;
  width: 215px;
  height: 64px;
  border: 1px solid #1C1C1B;
  border-radius: 32px;
  &.circle {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  &_inner {
    display: inline-block;
    width: 215px;
    padding: 18px 40px;
    margin: -6px 0 0 -6px;
    height: 64px;
    position: relative;
    border: 1px solid #1C1C1B;
    border-radius: 32px;
    background-color: #fff;
    &.circle{
      width: 180px;
      height: 180px;
      border-radius: 100%;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        &::after {
          display: none;
        }
      }
    }
    a {
      position: absolute;
    }
    span {
      display: block;
      font-family: "Popins";
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 600;
      color: #1C1C1B;
      transform: translateX(0%);
      transition: transform .3s;
      &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        background: url(../images/icon/ico_16_arrow_right.svg) no-repeat center;
        background-size: 16px;
        transition: all .3s;
      }
    }
  }
}
.cursor {
  width: 60px;
  height: 60px;
  background: url(../images/common/cursor.svg) no-repeat center center/cover;
}

:root {
  --length: 0;
}
.brd_ani_line01 {
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  stroke-width: 2;
}